Beaker==1.8.1
certifi==2018.1.18
chardet==3.0.4
future==0.16.0
idna==2.6
Mako==1.0.7
MarkupSafe==1.0
oauthlib==2.0.6
pbr==3.1.1
python-twitter==3.3
requests==2.18.4
requests-oauthlib==0.8.0
six==1.11.0
stevedore==1.28.0
urllib3==1.22
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.8.2